<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rajjoshi Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/HP/IdeaProjects/UITestAutomation">
    <classes>
        <class name="testCases.Test_Login">
    </class>
    </classes>
</test></suite>